<td>
{{ order.get_status_display }}
{% if perms.webapp.can_take_order %}
    {% if order.status == 'preparing' %}
        <p style="margin-top: 5px">
            <a class="btn btn-warning" href="{% url 'webapp:order_deliver' order.pk %}">Take order</a>
        </p>
    {% endif %}
    {% if order.status == 'on_way' %}
        <p style="margin-top: 5px">
            {% if order.courier == user %}
                <a class="btn btn-warning" href="{% url 'webapp:order_deliver' order.pk %}">Deliver</a>
            {% else %}
                <i style="color: #888888">delivery by</i><br> <b>{{ order.courier }}</b>
            {% endif %}
        </p>
    {% endif %}
{% endif %}

</td>
<td>{{ order.contact_name }}</td>
<td>{{ order.contact_phone }}</td>
<td>{{ order.delivery_address }}</td>
<td>
    {% for o in order.foods.all %}
        <b>{{ o }}: </b>{{ o.amount }} x <i>{{ o.food.price }}</i> = {{ o.get_sum }}
        {% if perms.webapp.delete_orderfood and request.resolver_match.view_name == 'webapp:order_detail'%}
             | <button class="delete_small" data-toggle="modal" data-target="#deleteFood" data-name="{{ o.food }}" data-amount="{{ o.amount }}" data-order="{{ order.pk }}" data-food="{{ o.pk }}">Delete</button>
        {% endif %}
        {% if perms.webapp.update_orderfood and request.resolver_match.view_name == 'webapp:order_detail'%}
             | <button class="update_small" data-toggle="modal" data-target="#updateFood" data-name="{{ o.food }}" data-food_pk="{{ o.food.pk }}" data-amount="{{ o.amount }}" data-order="{{ order.pk }}" data-food="{{ o.pk }}">Update</button>
        {% endif %}

        {% if not forloop.last %}<br> {% endif %}
    {% endfor %}
</td>
<td><b>{{ order.get_sum }}</b></td>