{% extends 'base.html' %}
{% load static %}
{% block title %}Add Food{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Food Update</div>
        <div class="panel-body">

            <form action="{% url 'webapp:food_update' food.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>


{% endblock %}
