{% extends 'base.html' %}
{% block title %}Order Canceled{% endblock %}
{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">Order Canceled</div>
        <div class="panel-body">

            <h5>Are you sure to canceled {{ order }}?</h5>
            <form action="{% url 'webapp:order_cancel' order.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>


        </div>
    </div>



{% endblock %}

{# Откройте /food/<pk>, чтобы посмотреть картинку еды на этой странице #}