{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить заказ{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Order Update</div>
        <div class="panel-body">
            {% if order.status == 'delivered' or order.status == 'on_way' %}
                <h2>Заказ уже доставляется или доставлен</h2>
            {% else %}
                <form action="{% url 'webapp:order_update' order.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            {% endif %}
        </div>
    </div>


{% endblock %}
