{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Order</div>
        <div class="panel-body">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Order info</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    {% include '_order_list.html' %}
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addFood">Add food</button>
                        <button class="btn btn-primary" id="edit_food_show" data-toggle="modal" data-target="#editFood">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>



    <div class="modal fade" id="addFood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add food to order</h4>
                </div>
                <div class="modal-body">
                    {% if order.status == 'delivered' or order.status == 'on_way' %}
                        <h2>Order already delivered or shipped</h2>
                    {% else %}

                         <form action="{% url 'webapp:order_food_create' order.pk %}" onsubmit="return false;" id="add_food_form">
                            {% csrf_token %}
                            {{ form_add_food.as_p }}
                            <button type="submit" class="btn btn-primary" id="add_food_submit">Add</button>
                        </form>

                    {% endif %}


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="editFood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit order</h4>
                </div>
                <div class="modal-body">

                    {% if order.status == 'delivered' or order.status == 'on_way' %}
                        <h2>Order already delivered or shipped</h2>
                    {% else %}

                         <form action="{% url 'webapp:order_update' order.pk %}" onsubmit="return false;" id="edit_food_form">
                            {% csrf_token %}
                            {{ form_edit_order.as_p }}
                            <button type="submit" class="btn btn-primary" id="edit_order_submit">Save</button>
                        </form>

                    {% endif %}


                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteFood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete food from order</h4>
                </div>
                <div class="modal-body">

                    {% if order.status == 'delivered' or order.status == 'on_way' %}
                        <h2>Order already delivered or shipped</h2>
                    {% else %}

                        <div id="delete_info">
                            <h3>Are you sure to delete <i style="color:#888"><span id="del_sum"></span></i> from order <i style="color:#888">"{{ order }}"</i>?</h3>
                            <form action="#" method="post" id="delete_food_form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="updateFood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Update food from order</h4>
                </div>
                <div class="modal-body">

                    {% if order.status == 'delivered' or order.status == 'on_way' %}
                        <h2>Order already delivered or shipped</h2>
                    {% else %}

                        <form action="#" method="post" id="update_food_form" onsubmit="return false;" >
                            {% csrf_token %}
                            {{ form_update_food.as_p }}
                            <button type="submit" class="btn btn-primary" id="update_food_submit">Save</button>
                        </form>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}

    <script>
        $('#add_food_submit').click(function () {
            var form = $('#add_food_form');
            $.ajax(form.attr('action'), {
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    food: $('#id_food').val(),
                    amount: $('#id_amount').val(),
                },
                success: function (response, status) {
                    location.reload();
                },


            })
        })


        $('#edit_food_show').click(function () {
            $('#id_contact_phone').val('{{ order.contact_phone }}');
            $('#id_contact_name').val('{{ order.contact_name }}');
            $('#id_delivery_address').val('{{ order.delivery_address }}');
            $('#id_status').val('{{ order.status }}');
        });

       
        $('#edit_order_submit').click(function () {
            var form = $('#edit_food_form');

            $.ajax(form.attr('action'), {
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    contact_phone: $('#id_contact_phone').val(),
                    contact_name: $('#id_contact_name').val(),
                    delivery_address: $('#id_delivery_address').val(),
                    status: $('#id_status').val(),
                },
                success: function (response, status) {
                    location.reload();
                },


            })
        })

        $('.delete_small').click(function () {
            var name = $(this).data('name');
            var amount = $(this).data('amount');
            var order = $(this).data('order');
            var food = $(this).data('food');
            var str = amount + ' ' + name;
            var url = '/order/'+ order + '/food/' + food +'/delete'
            $('#del_sum').text(str);
            $('#delete_food_form').attr('action', url)
        })

        $('.update_small').click(function () {
                var order = $(this).data('order');
                var food = $(this).data('food');
                var food_pk = $(this).data('food_pk');
                var amount = $(this).data('amount');
                var url = '/order_food/' + food +'/update';
                $('#update_food_form').attr('action', url);
                $('#update_food_form #id_food').val(food_pk);
                $('#update_food_form #id_amount').val(amount)
            })

        $('#update_food_submit').click(function () {
            var form = $('#update_food_form');

            $.ajax(form.attr('action'), {
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    food: $('#update_food_form #id_food').val(),
                    amount: $('#update_food_form #id_amount').val(),
                },
                success: function (response, status) {
                    location.reload();
                },


            })
        })

    </script>
    
{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}