//GENERAL
body {
  font-size: 16px;
}

.comment_text {
  padding: 15px;
  border: 1px solid #5e5e5e;
  margin-bottom: 15px;
  border-radius: 5px;
}
.comment ul {
  padding-left: 30px;
  margin-bottom: 10px;
}

.rate {
  padding: 15px;
}

.panel-heading {
  font-size: 20px;
  text-transform: uppercase;
  span {
    text-transform: none;
    font-size: 16px;
  }
}

.date {
  color: #8c8c8c;
  font-style: italic;
  font-size: 12px;
}
.search_list {
  li {
    margin-bottom: 10px;
  }
}

.line_helper {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-top: 30px;
  margin-bottom: 30px;
}

.food_list_img {
  max-width: 100px;
}

.delete_small, .update_small {
  color: red;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 7px;
  display: inline-block;
  background: none;
  border: 0;
  box-shadow: none;
}
.update_small {
  color: green;
}